.form-field {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;

	/* Defaults */
	align-items: flex-start;
	justify-content: space-between;

	& > section {
		width: 100%;
	}

	&.flex-end {
		align-items: flex-end;
	}

	/* form flex */
	.form-field {
		margin-bottom: 0.25em;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;

	& > section {
		height: 100%;
	}
}

a.btn {
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		color: grey;
	}
}